:root {
  --color-black: 0, 0, 0;
  --color-white: 255, 255, 255;
  --color-accent: 69, 63, 120;
  --color-primary: 114, 114, 114;
  --color-secondary: 39, 39, 39;

  --transition: 0.2s ease-in-out;

  --font-h1-size: 2em;
  --font-h1-line-height: 36px;
  --font-h2-size: 0.8em;
  --font-h2-line-height: 12px;
  --font-p-size: 1.1em;
  --font-p-line-height: 18px;
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  :root {
  }
}

/* Small devices (mobile phones) */
@media (max-width: 767px) {
  :root {
  }
}

@media (max-width: 440px) {
  :root {
  }
}
