.images-wrapper {
  display: flex;
}

.images-wrapper .images-container {
  display: flex;
  width: 33%;
  padding: 16px 16px 16px 0;
}

.images-wrapper .images-container img {
  display: inline-block;
  width: 100%;
}

@media (max-width: 992px) {
  .images-wrapper {
    flex-direction: column;
  }

  .images-wrapper .images-container {
    width: 100%;
  }
}
