.custom-accordion-container {
  margin: 16px;
}

.custom-accordion {
  border: none;
  border-radius: 0px;
}

.custom-accordion-summary {
  flex-direction: row-reverse;
  gap: 10px;
  background-color: rgb(var(--color-white));
  cursor: pointer;
}

.custom-accordion-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(var(--color-white));
  padding: 16px;
  border-bottom: 1px solid rgba(var(--color-primary), 0.5);
}

.custom-accordion-category {
}

.custom-accordion-category-title {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-white));
  font-weight: 800;
  padding: 3px 15px;
}

.custom-accordion-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  padding: 10px 5px;
  border-bottom: 1px solid rgba(var(--color-secondary), 0.2);
}

.custom-accordion-item-title {
  font-size: 20px !important;
  margin-bottom: 15px !important;
}

.custom-accordion-item-wrapped {
  width: 100%;
  display: flex;
  justify-content: space-between;
  white-space: break-spaces;
  align-items: center;
  color: rgb(var(--color-primary));
}

.custom-accordion-item-value {
  font-size: 18px !important;
}

.custom-accordion-value {
  text-align: end;
  margin-left: auto;
  color: #888;
}

.custom-accordion-value-price {
  text-align: end;
  color: #888;
}

@media (max-width: 1000px) {
  .custom-accordion-value,
  .custom-accordion-value-price {
    font-size: 14px;
  }
  .css-112ujhy-MuiAccordionDetails-root {
    padding: 20px 0 !important;
  }
  .custom-accordion-container {
    margin: 16px 0;
  }
  .custom-accordion-value-title {
    font-size: 14px;
    grid-column: span 2;
    grid-row-start: 1;
  }
}
@media (max-width: 575px) {
  .custom-accordion-item-title {
    font-size: 16px !important;
  }
  .custom-accordion-item-value {
    min-width: 69px;
    font-size: 14px !important;
  }
}

@media (max-width: 475px) {
  .custom-accordion-item {
    gap: 5px;
    align-items: center;
  }
}
