/* Accordion.css */

.custom-accordion-container {
  margin: 16px;
}

.custom-accordion {
  border: none;
  border-radius: 0px;
}

.custom-accordion-summary {
  flex-direction: row-reverse;
  gap: 10px;
  background-color: rgb(var(--color-white));
  cursor: pointer;
}

.custom-accordion-details {
  background-color: rgb(var(--color-white));
  padding: 16px;
  border-bottom: 1px solid rgba(var(--color-primary), 0.5);
}

.custom-accordion-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.custom-accordion-value {
  margin-left: auto;
  color: #888;
}
