.cooperation-page {
}

.cooperatio-hero {
  min-height: calc(100vh - var(--app-hero-section-height));
  background-color: rgb(var(--color-secondary));
  display: flex;
  align-items: center;
  justify-content: center;
}

.cooperatio-hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cooperation-hero__title {
  margin: 0;
  color: rgb(var(--color-white));
  font-size: 50px;
  line-height: 50px;
}

.cooperation-present {
  padding: 100px 0;
}

.cooperation-present-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cooperation-present__title {
  font-size: 40px;

  text-align: center;
}

.cooperation-howitwork {
  padding: 50px 0;
  border-top: 1px solid rgb(var(--color-primary));
}

.cooperation-howitwork__title {
  font-size: 40px;
}

.cooperation-howitwork__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cooperation-howitwork-list__item {
  font-size: 20px;
}

.cooperation-busines {
  background-color: rgb(var(--color-secondary));
  color: rgb(var(--color-white));
  padding: 50px 0;
}

.cooperation-busines-container {
  display: flex;
  gap: 50px;
}

.cooperation-busines__main {
  width: 50%;
}

.cooperation-busines__title {
  font-size: 40px;
  margin: 20px 0;
}

.cooperation-busines__list {
  padding: 0 0 0 20px;
}

.cooperation-busines-list__item {
}

.cooperation-busines-list-item__title {
  font-size: 22px;
  margin: 10px 0px;
}

.cooperation-busines-list-item__text {
  font-size: 20px;
}

.cooperation-busines__optional {
  width: 50%;
}

.cooperation-busines__optional-title {
  font-size: 40px;
  margin: 20px 0;
}

.cooperation-busines__optional-list {
  padding: 0 0 0 20px;
}

.cooperation-busines-optional-list__item {
}

.cooperation-busines-optional-list-item__title {
  font-size: 22px;
  margin: 10px 0px;
}

.cooperation-busines-optional-list-item__text {
  font-size: 20px;
}

.cooperation-prices {
  padding: 50px 0;
}

.cooperation-prices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cooperation-prices__title {
  font-size: 40px;
}

.cooperation-prices__table {
  border: 1px solid rgb(var(--color-secondary));
}

.cooperation-prices__table-row {
}

.cooperation-prices__table-header {
  padding: 20px;
  background-color: rgb(var(--color-secondary));
  color: rgb(var(--color-white));
}

.cooperation-prices__table-row {
}

.cooperation-prices__table-cell {
  padding: 20px;
}

.cooperation-risks {
  padding: 50px 0;
  background-color: rgb(var(--color-secondary));
}

.cooperation-risks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-white));
}

.cooperation-risks__title {
  font-size: 40px;
}

.cooperation-risks__text {
  font-size: 25px;
}

.cooperation-footer {
  padding: 50px 0;
}

.cooperation-footer-container {
  display: flex;
  gap: 50px;
}

.cooperation-footer-main {
}

.cooperation-footer__title {
  font-size: 40px;
}

.cooperation-footer__text {
  font-size: 20px;
}

.cooperation-footer-wish {
  background-color: rgb(var(--color-secondary));
  color: rgb(var(--color-white));
  padding: 30px;
}

.cooperation-footer-wish__text {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 1000px) {
}

/* Medium devices (tablets) */
@media (max-width: 900px) {
  .cooperation-busines-container {
    flex-direction: column;
  }
  .cooperation-busines__main,
  .cooperation-busines__optional {
    width: 100%;
  }
  .cooperation-footer-container {
    flex-direction: column;
  }
  .cooperation-busines-container {
    gap: 10px;
  }
}

/* Small devices (mobile phones) */
@media (max-width: 767px) {
  .cooperation-busines__optional-list,
  .cooperation-busines__list {
    padding: 0 0 0 10px;
  }
  .cooperation-prices__table-header {
    padding: 10px;
  }
  .cooperation-prices__table-cell {
    padding: 10px;
  }
  .cooperation-present__title,
  .cooperation-howitwork__title,
  .cooperation-busines__title,
  .cooperation-prices__title,
  .cooperation-risks__title,
  .cooperation-footer__title,
  .cooperation-busines__optional-title {
    font-size: 30px;
  }
}
