.prices {
  margin: 0 0 0px 0;
  position: relative;
}

.prices-wrapper {
  background-color: rgb(var(--color-secondary));
}

.prices-container {
  padding: 50px 15px 150px 15px;
}

.prices-accordion {
  background-color: rgb(var(--color-white));
  position: relative;
  top: -100px;
  padding: 20px;
  border: 1px solid rgba(var(--color-primary), 0.5);
}

@media (max-width: 1000px) {
  .prices-accordion {
    padding: 20px 10px;
  }
}
