.hero-background--dentaltreatment {
  background-image: url('../../shared/assets/images/P1010702.jpg');
}

.hero-background--orthodontics {
  background-image: url('../../shared/assets/images/P1010523.jpg');
}

.hero-background--surgery {
  background-image: url('../../shared/assets/images/P1010318.jpg');
}

.hero-background--implantation {
  background-image: url('../../shared/assets/images/P1010337.jpg');
}

.hero-background--prosthetics {
  background-image: url('../../shared/assets/images/P1052205.jpg');
}

.hero-background--teethwhitening {
  background-image: url('../../shared/assets/images/P1010702.jpg');
}
