.hero {
  background-image: url('../../../assets/images/photo_main_horizontal.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 580px;
  min-height: calc(100vh - var(--app-hero-section-height));
  position: relative;
}

.hero-shading {
  background-color: rgba(var(--color-black), 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero__title {
  color: rgb(var(--color-white));
  font-size: 36px;
}

.hero__description {
  color: rgb(var(--color-white));
  font-size: 19px;
  max-width: 285px;
  font-weight: 300;
}

.hero__appointment {
  background-color: rgba(var(--color-white), 0.9);
  color: rgb(var(--color-black));
  border: 1px solid rgb(var(--color-black));
  padding: 10px 15px;
  transition: var(--transition);
  font-size: 16px;
  font-weight: 600;
}

.hero__appointment:hover {
  background-color: rgba(var(--color-black), 0.9);
  color: rgb(var(--color-white));
  border: 1px solid rgb(var(--color-white));
}

.hero__brn-wrapper {
  display: flex;
  gap: 10px;
}

@media (max-width: 767px) {
  .heading {
    font-size: 28px;

    padding: 30px 0;
  }
}
