.description-wrapper {
  display: flex;
  justify-content: end;
}

.description-column {
  width: 60%;
}
.description-column h2 {
  font-size: 35px;
  margin: 0 0 20px 0;
}

.services-description-section .symptoms-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.services-description-section-container {
  padding: 50px 10px;
}

.services-description-section .symptoms-container .symptom-item {
  display: flex;
  justify-content: start;
  align-items: center;
}

.services-description-section .symptoms-container .symptom-item .dot {
  font-weight: 900;
  font-size: 2em;
  margin-right: 12px;
}

@media (max-width: 992px) {
  .services-description-section .symptoms-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .description-column {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .services-description-section .symptoms-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
