.dropdown-menu {
  position: absolute;
  transition: var(--transition);
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-menu-list {
  list-style: none;
  padding: unset;
  margin: unset;
}

.dropdown-menu-list-item {
}

.dropdown-menu-list-item:hover {
  cursor: pointer;
}

.dropdown-menu-list-item-link {
  display: inline-block;
  padding: 10px 20px;
  color: rgba(var(--color-black), 1);
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  text-decoration: none;
  transition: var(--transition);
}

.dropdown-menu-list-item-link:hover {
  color: rgba(var(--color-black), 0.5);
}

.dropdown-menu {
  background-color: transparent;
  transition: all linear 0.3s;
}

@media (max-width: 500px) {
  .dropdown-menu-list-item-link {
    font-size: 18px;
    line-height: 18px;
  }
}
