.header {
  background-color: rgb(var(--color-white));
  width: 100%;
  /*height: var(--layout-header-size);*/
  /*padding: var(--layout-header-padding) 0;*/
  box-shadow: 0 0 20px -10px black;
}

.header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__top,
.header__bottom {
  width: 100%;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--app-header-top-height);
  padding: 5px 0 0 0;
}

.header-top__logo {
  display: flex;
  text-decoration: none;
  color: rgb(var(--color-black));
  width: 120px;
}

.logo {
  width: 100%;
}

.header-top__tel,
.header-top__lang,
.header-top__inst,
.header-top__tg {
  text-decoration: none;
  color: rgb(var(--color-black));
  padding: 3px;
}

.header-top-socials {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-top__tel {
}

.header-top__lang {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  border: none;
}

.header-top__tg,
.header-top__inst {
  display: flex;
  width: 25px;
}

.header-top-inst__img {
  width: 100%;
}
.header-top-telegram__img {
  width: 100%;
}

.header-top__burger-menu {
  display: none;
  margin-left: 10px;
  /*margin-left: auto;*/
}

/* Hamburger Menu */
.header-top__burger-menu {
  --bar-width: 25px; /* CSS variable for bar width */
  --bar-height: 3px; /* CSS variable for bar height */
  --bar-color: white; /* CSS variable for bar color */
  background-color: transparent;
  border: none;
  width: var(--bar-width);
  height: calc(var(--bar-width) * 3 / 4);
  cursor: pointer;
  position: relative;
  padding: 5px;
  transition: var(--transition);
}

.header-top__burger-menu b {
  position: absolute;
  left: 0;
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: rgb(var(--color-black));
  transition: var(--transition);
}

.header-top__burger-menu b:nth-child(1) {
  top: 0;
}

.header-top__burger-menu b:nth-child(2) {
  top: 50%;
}

.header-top__burger-menu b:nth-child(3) {
  top: 100%;
}

.header__bottom {
  padding: 0 0 5px 0;
}

.header-bottom-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--app-header-bottom-height);
}

.header-bottom-mobile {
  --header-bottom-mobile-padding: 20px;
  display: none;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  transition: var(--transition);
  height: 0;
  padding: 0 var(--header-bottom-mobile-padding) 0
    var(--header-bottom-mobile-padding);
  justify-content: space-between;
}

.header-bottom__nav {
}

.header-bottom-nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-bottom-nav-list__item {
  position: relative;
}

.header-bottom-nav-list__item-menu {
}

.header-bottom-nav-list-item__link {
  padding: 5px 10px;
  text-decoration: none;
  color: rgb(var(--color-black));
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
}

.header-bottom__appointment-section-wrapper {
  box-shadow: 0 0 2px 2px rgba(var(--color-black), 0.5);
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-bottom__appointment-section {
  display: flex;
  justify-content: space-between;
}

.appointment-btn-container {
  display: none;
}

/* Small devices (mobile phones) */
@media (max-width: 767px) {
  .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header__description {
    margin: 0;
  }
}
/* Small devices (mobile phones) */
@media (max-width: 650px) {
  .header__description {
    font-size: 14px;
    line-height: 14px;
  }
  .header-wrapper {
    padding: 5px 0;
  }
  .header__top {
    height: var(--app-header-bottom-height);
    padding: 0;
  }
  .header__bottom {
    padding: 0;
  }
  .header-bottom-nav__list {
    margin: 10px 0 0 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-bottom-nav-list-item__link {
    display: inline-block;
    padding: 5px 5px 5px 0;
    font-size: 35px;
    line-height: 35px;
  }
  .header-top__tel,
  .header-top__lang,
  .header-top__inst,
  .header-top__tg {
    display: inline-block;
    padding: 5px 5px 5px 0;
  }
  .header-bottom__appointment {
    /*margin: auto auto 10px auto;*/
    margin: 10px 0 10px;
  }
  .header-bottom-desktop {
    display: none;
  }
  .header-top-socials {
    display: none;
  }
  .header-bottom-mobile {
    display: flex;
  }
  .header-bottom-mobile--active {
    height: calc(100vh - var(--app-header-bottom-height));
  }
  .header-bottom-nav-list__item-menu .dropdown-menu {
    position: relative;
  }
  .header-top__burger-menu {
    display: block;
  }
  .appointment-btn-container {
    display: block;
    margin: 0px 0 0px auto;
  }
}

@media (max-height: 700px) {
  .header-bottom-nav-list-item__link {
    font-size: 30px;
    line-height: 30px;
  }
}
