.footer {
  background-color: rgba(var(--color-black), 1);
}

.footer-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px 0;
}

.footer__copyrighting {
  font-size: 12px;
  color: rgb(var(--color-primary));
}

.footer__offer {
  font-size: 12px;
}

.footer__offer a {
  text-decoration: none;
  color: rgba(var(--color-white), 0.9);
}

@media (min-width: 768px) and (max-width: 1199px) {
}

@media (max-width: 767px) {
}
