.projects-section {
  background-color: black;
  color: rgb(var(--color-white));
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.projects-section-container {
  padding: 20px 10px 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-section__title {
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.article-section {
  background-color: black;
  color: rgb(var(--color-white));
}

.article-section-container {
}

.article-section__title {
}

.articles-section__articles-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
