.home-page-hero {
  background-image: url('../../shared/assets/images/P1010644.jpg') !important;
}

.explanation {
  margin: 50px 0 100px 0;
  position: relative;
}

.explanation-container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.explanation-list-wrapper {
  width: 55%;
}

.explanation__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 500px;
  padding: 0 0 0 60px;
}

.explanation-list__item {
  display: flex;
  align-items: flex-start;
  gap: 35px;
}

.explanation-list-item__number {
  font-size: 24px;
  font-weight: 200;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotatez(180deg);
}

.explanation-list-item__text {
  display: flex;
  flex-direction: column;
}

.explanation-list-item-text__title {
  font-size: 17px;
  font-weight: 700;
  margin: 0 0 15px;
}

.explanation-list-item-text__description {
  font-size: 16px;

  margin: 0;
}

.contacts-container {
  position: relative;
}

.explanation__images {
  width: 45%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.explanation-images__image-wrapper {
  width: 100%;
  box-shadow: 0 0 0px 5px rgb(var(--color-secondary));
}

.explanation-images__image {
  display: block;
  width: 100%;
}

.explanation__images .explanation-images__image-wrapper:nth-child(1) {
}

.explanation__images .explanation-images__image-wrapper:nth-child(2) {
  grid-column-start: 1;
  grid-row-start: 2;
  border-top: none;
}

.explanation__images .explanation-images__image-wrapper:nth-child(3) {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 1;
}

/* Medium devices (tablets) */
@media (max-width: 970px) {
  .explanation-container {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .explanation__images,
  .explanation-list-wrapper {
    width: 100%;
  }
}

/* Small devices (mobile phones) */
@media (max-width: 767px) {
  .explanation__list {
    padding: 0;
  }
}
