/* .app-btn {
  padding: 16px;
  font-size: 16px;
  border: 1px solid rgb(var(--color-black));
  background-color: rgb(var(--color-white));
  color: rgb(var(--color-black));
  transition: var(--transition);
} */
.app-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border: 3px solid rgb(var(--color-black));
  background-color: rgb(var(--color-white));
  color: rgb(var(--color-black));
  transition: var(--transition);
}

.app-btn:hover {
  background-color: rgb(var(--color-black));
  color: rgb(var(--color-white));
}

.app-btn--black {
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-black));
}

.app-btn--black:hover {
  background-color: rgb(var(--color-white));
  color: rgb(var(--color-black));
  border: 1px solid rgb(var(--color-black));
}
@media (max-width: 400px) {
  .app-btn {
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 600;
    border: 3px solid rgb(var(--color-black));
    background-color: rgb(var(--color-white));
    color: rgb(var(--color-black));
    transition: var(--transition);
  }
}
